/* Home.css */

.container {
  text-align: center;
  margin-top: 50px;
}

.title {
  color: #e69334;
  font-size: 36px;
  margin-bottom: 30px;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-container:hover .overlay {
  opacity: 1;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

 .btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}
/*
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border: 2px solid #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-secondary {
  color: #333;
  background-color: #f8f9fa;
  border: 2px solid #ced4da;
}

.btn-secondary:hover {
  background-color: #e2e6ea;
  border-color: #adb5bd;
} */

.password-container {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logininput {
  padding: 10px;
  margin: 5px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ced4da; /* You can adjust the border color */
}

.password-container > div {
  margin-bottom: 10px;
}

.loginbutton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.loginbutton:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
